<ngb-carousel
  [interval]="3000"
  [pauseOnHover]="true"
  [wrap]="true"
  [keyboard]="true"
  style="width: 100vw; border-radius: 0; overflow: hidden;"
>
  <ng-template ngbSlide>
    <img
      src="./assets/img/Banner.png"
      alt="Slide 1"
      style="width: 100%; height: 500px; object-fit: cover; display: block; border-radius: 0;"
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Slide 1</h5>
      <p>Descrição do primeiro slide</p>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <img
      src="./assets/img/foto_marco_tres_fronteiras_nova_4.jpg"
      alt="Slide 2"
      style="width: 100%; height: 500px; object-fit: cover; display: block; border-radius: 0;"
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Slide 2</h5>
      <p>Descrição do segundo slide</p>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <img
      src="./assets/img/marco_tres.jpg"
      alt="Slide 3"
      style="width: 100%; height: 500px; object-fit: cover; display: block; border-radius: 0;"
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Slide 3</h5>
      <p>Descrição do terceiro slide</p>
    </div>
  </ng-template>
</ngb-carousel>
