<div class="card text-center ">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="/assets/img/bird_park.jpg" class="img-fluid" style="height: 200px; object-fit: cover;" />
    <a>
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
    </a>
  </div>

  <div class="card-body">
    <h5 class="card-title">Cadastro de Package</h5>
    Nome do Pacote<br>
    <input mdbInput type="text" id="NameCard" for="nameCard" class="form-control" [(ngModel)]="package.title">
    <br>
    Descrição do pacote<br>
    <input mdbInput type="text" id="DescriptionCard" for="descriptionCard" class="form-control" [(ngModel)]="package.description">
    <br><br>

    @if(package.id && package.id > 0){
    <button type="button" class="btn btn-primary" (click)="updatePackage()" [disabled]="!package.title || !package.description">Editar</button>
    <button type="button" class="btn btn-primary" (click)="deletePackage()" [disabled]="!package.title || !package.description">Excluir</button>
    }@else {
      <button type="button" class="btn btn-primary" (click)="createPackage()" [disabled]="!package.title || !package.description">Cadastrar</button>
    }

  </div>
</div>
