<app-menu></app-menu>
<app-carrossel></app-carrossel>
<router-outlet />
<div class="container">
    <h1>Transportes Disponíveis</h1>

    <div class="transport-section">
        <!-- Van -->
        <div class="transport-item">
            <img src="assets/img/Vans.jpg" alt="Van">
            <h3>Van</h3>
            <p>Para grupos pequenos, nossa van oferece conforto e praticidade, com capacidade para até 15 pessoas. Ideal para passeios exclusivos e serviços personalizados.</p>
        </div>

        <!-- Carro Executivo -->
        <div class="transport-item">
            <img src="assets/img/carros.png" alt="Carro Executivo">
            <h3>Carro Executivo</h3>
            <p>Para um transporte mais privado e luxuoso, oferecemos carros executivos com todo o conforto, perfeitos para viagens de negócios ou passeios especiais.</p>
        </div>

        <!-- Ônibus -->
        <div class="transport-item">
            <img src="assets/img/onibus.png" alt="Ônibus">
            <h3>Ônibus</h3>
            <p>Para grandes grupos, nosso ônibus é a escolha perfeita. Com capacidade para até 40 pessoas, oferece conforto, segurança e espaço para todos desfrutarem da viagem.</p>
        </div>
    </div>
</div>

<app-footer></app-footer>
