<app-menu></app-menu>
<router-outlet/>

<!-- Custom Carousel -->
<div class="carousel-container">
  <div class="carousel">
    <div class="carousel-inner" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
      <div class="carousel-item" *ngFor="let image of images">
        <img [src]="image.src" [alt]="image.alt" class="carousel-image">
        <div class="carousel-caption">
          <h5>{{image.title}}</h5>
          <p>{{image.description}}</p>
        </div>
      </div>
    </div>
    
    <button class="carousel-control carousel-control-prev" (click)="prevSlide()">
      <span class="carousel-control-icon">&lsaquo;</span>
    </button>
    
    <button class="carousel-control carousel-control-next" (click)="nextSlide()">
      <span class="carousel-control-icon">&rsaquo;</span>
    </button>
    
    <div class="carousel-indicators">
      <button 
        *ngFor="let image of images; let i = index" 
        class="carousel-indicator" 
        [class.active]="i === currentIndex"
        (click)="setCurrentSlide(i)">
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>