<!-- Formulário para Criar/Editar Usuário -->
<div class="user-form">
  <h3>{{ user.id ? 'Editar Usuário' : 'Criar Novo Usuário' }}</h3>
  <form (submit)="user.id ? createUser() : updateUser(user)">
    <div>
      <label for="name">Nome:</label>
      <!-- Usando property binding e event binding -->
      <input type="text" [value]="user.name" (input)="onInputChange($event)" required />
      </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" [value]="user.email" (input)="onInputChange($event)" required />
      </div>
    <button type="submit" class="btn btn-primary">{{ user.id ? 'Salvar' : 'Criar' }}</button>
  </form>
</div>

<!-- Listagem de Usuários -->
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users; track $index) {
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button (click)="updateUser(user)" class="btn btn-sm btn-info">Editar</button>
        </td>
      </tr>
    }
  </tbody>
</table>
