<div class="card text-center ">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
  
    <div class="card-body">
      <h5 class="card-title">Cadastro de Passeio</h5>
      Nome do Passeio<br>
      <input mdbInput type="text" id= "NameCard" for="nameCard" class="form-control" [(ngModel)]="nameCard">
      <br>
      Descrição do passeio<br>
      <input mdbInput type="text" id= "DescriptionCard" for="descriptionCard" class="form-control" [(ngModel)]="descriptionCard">
      <br>
      <br>  
      <button type="button" class="btn btn-primary">Button</button>
    </div>
  </div>