<div class="card text-center ">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="/assets/img/bird_park.jpg" class="img-fluid" style="height: 200px; object-fit: cover;" />
    <a>
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
    </a>
  </div>

  <div class="card-body">
    <h5 class="card-title">Cadastro de Passeio</h5>
    Nome do Passeio<br>
    <input mdbInput type="text" id="NameCard" for="nameCard" class="form-control" [(ngModel)]="tour.name">
    <br>
    Descrição do passeio<br>
    <input mdbInput type="text" id="DescriptionCard" for="descriptionCard" class="form-control" [(ngModel)]="tour.description">
    <br><br>

    @if(tour.id && tour.id > 0){
    <button type="button" class="btn btn-primary" (click)="updateTour()" [disabled]="!tour.name || !tour.description">Editar</button>
    <button type="button" class="btn btn-primary" (click)="deleteTour()" [disabled]="!tour.name || !tour.description">Excluir</button>
    }@else {
      <button type="button" class="btn btn-primary" (click)="createTour()" [disabled]="!tour.name || !tour.description">Cadastrar</button>
    }

  </div>
</div>
